 <div class="col-xs-9">
     <h1>Films</h1>
     <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
          <tr>
           <% @blogs.each do |blog| %>
            <tbody>
              <td> <%=link_to(blog.user) do%><%= attachment_image_tag blog.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %><%end%>
              </td>
              <td><%= link_to blog_path(blog.id) do %>
                  <%=blog.title%>
                  <% end %>
               </td>
             </tbody>
           <%end%>
        </tr>
      </table>
     </div>
