<div class="container">
  <h1 class="title">About</h1>
</div>

<ul>
	<li>
		<h2>Share films</h2>
		<p>
			好きな映画の感想を書いて共有するサイトです。<br>
			今まで知らなかった映画に出会えることを願っております。
		</p>
	</li>
	<li>
		<h2>投稿の仕方について</h2>
		<p>
			<font face="arial black">本サイトでは画像を投稿することができます。</font><br>
			画像は一度自身のパソコンで保存していただき,感想の最後に画像の引用元を<br>
			記述していただくさい。
		</p>
	</li>
</ul>